name: luogu_punch

on:
  schedule:
    - cron: '0 0 * * *'
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  punch:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Run script
        env:
          LUOGU_COOKIE: ${{ secrets.LUOGU_COOKIE }}
        run: python main.py
